#header{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.column{
    width: 46%;
	margin:0 2% 0 2%;
	float:left;
}

#container{
  margin-left:auto; 
  margin-right:auto;
}

#form_notice{
    color: red;
}

#pic_row{
  margin-left:auto; 
  margin-right:auto;
}

.item{
    width: 30%;
	margin:0 1% 0 2%;
	float:left;
}
