<br>
<div id ='header'>CLiiK</div>
<br><br>

<center>
This is the end of the questionnaire. Thanks for your help!<br><br>
<%= link_to 'Back To Home', home_path %>
</center>

<!--
<div id='pic_row'>
    <div class="item" id="item1">
<center>
<label for="checkbox1"><%= image_tag "./Clothing/Guy/1.png" %></label><br>
<input type="checkbox" id="checkbox1" name="checkbox1" value="aa"/>
</center>
    </div>

    <div class="item" id="item2">
<center>
<label for="checkbox2"><%= image_tag "./Clothing/Guy/2.png" %></label><br>
<input type="checkbox" id="checkbox2" name="checkbox2" value="aa"/>
</center>
    </div>

    <div class="item" id="item3">
<center>
<label for="checkbox3"><%= image_tag "./Clothing/Guy/3.png" %></label><br>
<input type="checkbox" id="checkbox3" name="checkbox3" value="aa"/>
</center>
    </div>
</div>
-->

