<center><h2>Who am I?</h2></center>
<%= form_tag :controller => :form, :action => :get_outfit_style do %>
<hr>
    <b>What are your favorite outfit styles?</b><br>
    (choose up to 3)(total 16)<br>
    <div id='form_notice'><%= flash[:notice] %></div><br>
<hr>
    <%= submit_tag 'submit'%>
<% end %>
