<center><h2>Wish List</h2></center>
<%= form_tag :controller => :form, :action => :get_wish_outfit_style do %>
<hr>
    <b>What kind of outfit style you like the most?</b><br>
    (page choose up to 3)(total 16)<br><br>
<hr>
    <%= submit_tag 'submit'%>
<% end %>
